.nav-to-workout {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    flex-basis: 33.33%;
    text-decoration: none;
    color: black;
    height: 300px;
    overflow: auto;
    align-items: center;
    width: 500px;
    min-width: 500px;
    background-color: white;
}
.nav-to-workout::-webkit-scrollbar {
    width: 0.1em;
}

.nav-to-workout::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.nav-to-workout:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.workouts-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px;
    justify-content: center;
}
.workouts-container-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(229,229,229);
    height: 100%;
}
.workout-ex-detail-main {
    display: flex;
    flex-direction: row;
    margin: 5px;
    width: 260px;
}
.workout-top-bar-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    width: 260px;
}

.workout-name-main {
    display: flex;
    margin: 20px;
    flex: 1;
}
.workout-weight-main {
    display: flex;
    margin: 20px;
    justify-content: center;
    flex: 1;
}
.workout-reps-main {
    display: flex;
    margin: 20px;
    justify-content: center;
    flex: 1;
}
.name-workout-page {
    margin: 0px 10px 10px 10px;
}

.create-workout-button-main button{
    margin-top: 20px;
    width: 600px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    background-color: rgba(222, 81, 49);
    cursor: pointer;
}

.create-workout-button-main button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
