.top-landing {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.landing-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-me {
    margin-top: 20px;
}
.about-me a{
    margin: 15px
}
.about-me i{
    font-size: 40px;
    color: black;
}

.mascot {
    width: 600px;
}
.right-landing {
    flex-basis: 40%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-landing {
    max-width: 600px;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing-name {
    margin-bottom: 40px;
    width: 600px;
}
.button-top {
    padding: 16px 32px 16px 32px;
    background-color: rgba(222, 69, 49);
    text-decoration: none;
    color: white;
    position: relative;
    border-radius: 6px;
    z-index: 1;
    transition:0.3s;
}
.button-link {
    text-decoration: none;
}
.button-top:hover {
    transform: translate(6px, 6px);
}
.button-outline {
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 2px rgba(222, 69, 49) solid;
    border-radius: 6px;
    background-color: white;

}
.button-wrapper {
    position: relative;
}
