.profile-dropdown {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  position: absolute;
  top: 80px;
  background-color: white;
  list-style: none;
  right: 20px;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
}
.profile-bar {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.landing-nav-logo {
  width: 80px;
  height: 80px;
  margin-right: 40px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 11vh;
}

.left-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.nav-nav {
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
  color: black;
  text-align: center;
}
.right-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.login {
  width: 100px;
  height: 30px;
  border-radius: 6px;
  margin: 5px;
}
.signup {
  width: 100px;
  height: 30px;
  border-radius: 6px;
  margin: 5px;
}

.profile-i{
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.workouts-nav {
  display: flex;
  flex-direction: row;
}

.profile-i {
  background-color: rgba(222, 69, 49);
}
.profile-i i{
  font-size: 18px;
}
